.navHeader{
    position: absolute;
    width: 100%;
    height: 500px;
    margin-right: 0;
    margin-left: 0;
    z-index: -1;
}

    .navHeader img {
        width: 100%;
        height: 500px;
        z-index: -1;
    }

.elementsOnHeader {
    position: sticky;
    width: 100%;
    height: 500px;
    margin-right: 0;
    margin-left: 0;
}

    .elementsOnHeader .login {
        left: 82%;
        top: 2%;
        padding: 0;
    }

    .elementsOnHeader .register {
        text-align: center;
        top: 30%; 
        padding: 0;
    }

    .elementsOnHeader .search {
        left: 20%;
        top: 85%;
        padding: 0;
    }

.mainrow {
    top: 68%;
    left: 2%;
    max-width: 98%;
}

.mininote h3 {
    text-align: center;
}

.mininote img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.mininote p {
    text-align: justify;
}

.footer {
    background-color: #e8ebef;
    width: 100%;
}

.footer p{
    font: "Comic Sans MS";
    font-size: 25px;
    width: 100%;
    text-align: center;
}

.button {
    background-color: #f4c242;
    border: 1px solid #f4b241;
    border-radius: 6px;
    color: gray;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.2s;
}

.button:hover {
    background-color: #f4b241;
    color: white;
}

.btn {
    background-color: #f4c242;
    border: 1px solid #f4b241;
    border-radius: 6px;
    color: gray;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.2s;
    width: 100%;
}

.btn:hover {
    background-color: #f4b241;
    color: white;
}